<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Generar Pin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <div class="centered-login">
   <ion-img class="position-img" src="../../assets/images/logo-blanco.png" ></ion-img>
   <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
     offset-xl="4">
    
     <ion-item fill="outline" class="ion-margin">
       <ion-label position="floating">Pin</ion-label>
       <ion-input type="password" placeholder="Pin" name="pin" autocomplete="none"></ion-input>
     </ion-item>


     <ion-item fill="outline" class="ion-margin">
       <ion-label position="floating">Confirmar Pin</ion-label>
       <ion-input  type="password" placeholder="Confirmar" name="password" autocomplete="none" ></ion-input>
     </ion-item>


     <ion-button  class="btn-ingresar" expand="block">Generar Pin</ion-button>

   </ion-col>
 </div>

</ion-content>